body {
    font-size: 18px;
    line-height: 1.4;
    color: #000;
}

/* Header */
.site-header {
    background-color: #FB7915;
    position: relative;
}

.logo {
    position: absolute;
    font-size: 32px;
    top: 0px;
    left: 50px;
    text-decoration: none;
    color: white
}


.main-navigation {
    margin: 32px 0 48px 64px;
}

.main-menu {
    flex-direction: column;
}

.main-menu a {
    display: block;
    font-size: 38px;
    text-decoration: none;
    color: #fff;
    line-height: 1.5;
}

.site-branding img {
    width: auto!important;
    height: auto!important;
    display: block;
    max-height: 100vh;
}

/* Products */
.products {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.product a {
    display: block;
    padding: 32px;
    text-decoration: none;
    color: white;
}

.product img {
    display: block;
    width: auto !important;
    height: auto !important;
    margin: auto;
}